# Android
*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# PHP Backend
php_backend/.vscode/
php_backend/.idea/
php_backend/vendor/
php_backend/*.log
php_backend/.env
